
table thead {
    background-color: rgb(59,90,121) !important;
    color: white !important;
}
.row > .card:nth-child(3n) {
    margin-right: 0.75rem;
}
.font-color-caem{
    color:rgb(59,90,121);

}
body {
    font-family: raleway;
}
table {
    background-color: white;
}
.btn-success-caem {
    background-color: #64A470;
    color: white;
}
.table thead th {
    vertical-align: middle;
}
 th a{
     color: white;
     font-size: 1.1em;
 }
.btn-outline-success , .btn-outline-danger , .btn-outline-primary {
    border: none;
}
 tr td a{
     color:rgb(59,90,121);
     font-weight: bold;
 }
 .logo {
  color: #64A470 !important;
 }
body {
    background-image: url('../storage/images/footer-backend.png');
    background-position:bottom left;
	background-color:#f8fafc;
    background-repeat: no-repeat;
    min-height: 100vh

}
footer {
    min-height: 254px;

}
footer .container-fluid {
    height: inherit;
}
footer > .container-fluid >.row {
    height: inherit;
}
.row {
    max-width: 100vw;
}
i{
    font-size: 10px !important;
    padding: 10px;
}
.btn > i {
    font-size: 15px !important;
}
footer  b {
display: block;
}
@media  (max-width: 800px){
    body {
        background-size: 200% 254px;
        background-position: bottom right;
    }
    .row > .card:nth-child(3n) {
        margin-right: 0;
    }
}
